.block {
    background-image: url("nightCity.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 200px;
    displaly: fixed;
    font-size: 2rem;
}
.text {
    font-size: 5rem;
    background-color: gray;
    padding: 200px;
}
